#section-huawei,
#section-huawei p,
#section-huawei h2 {
  opacity: 0;
}
.section-huawei {
  animation: fade-in 1s ease 300ms 1 normal forwards;
  -moz-animation: fade-in 1s ease 300ms 1 normal forwards;
  -webkit-animation: fade-in 1s ease 300ms 1 normal forwards;
  -o-animation: fade-in 1s ease 300ms 1 normal forwards;
}

@keyframes huawei-img {
  0% {margin-left: 30em;}
  100% {margin-left: 0;}
}
@-moz-keyframes huawei-img {
  0% {margin-left: 30em;}
  100% {margin-left: 0;}
}
@-webkit-keyframes huawei-img {
  0% {margin-left: 30em;}
  100% {margin-left: 0;}
}
@-o-keyframes huawei-img {
  0% {margin-left: 30em;}
  100% {margin-left: 0;}
}

.section-huawei img {
  animation: huawei-img 1s ease 100ms 1 normal forwards;
  -moz-animation: huawei-img 1s ease 100ms 1 normal forwards;
  -webkit-animation: huawei-img 1s ease 100ms 1 normal forwards;
  -o-animation: huawei-img 1s ease 100ms 1 normal forwards;
}

.section-huawei p,
.section-huawei h2 {
  animation: fade-in 1s ease 1100ms 1 normal forwards;
  -moz-animation: fade-in 1s ease 1100ms 1 normal forwards;
  -webkit-animation: fade-in 1s ease 1100ms 1 normal forwards;
  -o-animation: fade-in 1s ease 1100ms 1 normal forwards;
}