
/*=============== section-brief-intro =================*/
#section-brief-intro ul {
  opacity: 0;  
}

@keyframes brief-intro-ul {
  0% {top: 0;opacity: 0}
  100% {top: -3em;opacity: 100}
}
@-moz-keyframes brief-intro-ul {``
  0% {top: 0;opacity: 0}
  100% {top: -3em;opacity: 100}
}
@-webkit-keyframes brief-intro-ul {
  0% {top: 0;opacity: 0}
  100% {top: -3em;opacity: 100}
}
@-o-keyframes brief-intro-ul {
  0% {top: 0;opacity: 0}
  100% {top: -3em;opacity: 100}
}

.section-brief-intro ul {
  animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -o-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
}

#section-brief-intro ul * {
  opacity: 0;
}

@keyframes brief-intro-opa {
  0% {opacity: 0}
  100% {opacity: 100}
}
@-moz-keyframes brief-intro-opa {
  0% {opacity: 0}
  100% {opacity: 100}
}
@-webkit-keyframes brief-intro-opa {
  0% {opacity: 0}
  100% {opacity: 100}
}
@-o-keyframes brief-intro-opa {
  0% {opacity: 0}
  100% {opacity: 100}
}

.section-brief-intro ul li.a {  
  animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -o-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
}
.section-brief-intro ul li.b {  
  animation: brief-intro-ul 1s ease 500ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 1s ease 500ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 1s ease 500ms 1 normal running forwards;
  -o-animation: brief-intro-ul 1s ease 500ms 1 normal running forwards;
}
.section-brief-intro ul li.c {  
  animation: brief-intro-ul 1s ease 700ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 1s ease 700ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 1s ease 700ms 1 normal running forwards;
  -o-animation: brief-intro-ul 1s ease 700ms 1 normal running forwards;
}
.section-brief-intro ul li.d {  
  animation: brief-intro-ul 1s ease 900ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 1s ease 900ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 1s ease 900ms 1 normal running forwards;
  -o-animation: brief-intro-ul 1s ease 900ms 1 normal running forwards;
}
.section-brief-intro ul li.e {  
  animation: brief-intro-ul 1s ease 1100ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 1s ease 1100ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 1s ease 1100ms 1 normal running forwards;
  -o-animation: brief-intro-ul 1s ease 1100ms 1 normal running forwards;
}
.section-brief-intro ul li.f {  
  animation: brief-intro-ul 1s ease 1300ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 1s ease 1300ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 1s ease 1300ms 1 normal running forwards;
  -o-animation: brief-intro-ul 1s ease 1300ms 1 normal running forwards;
}

.section-brief-info ul blockquote {
  animation: brief-intro-ul 2s ease 1500ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 2s ease 1500ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 2s ease 1500ms 1 normal running forwards;
  -o-animation: brief-intro-ul 2s ease 1500ms 1 normal running forwards;
}