#section-end {
  opacity: 0;
}
.section-end {
  animation: fade-in 3s ease 800ms 1 normal forwards;
  -moz-animation: fade-in 3s ease 800ms 1 normal forwards;
  -webkit-animation: fade-in 3s ease 800ms 1 normal forwards;
  -o-animation: fade-in 3s ease 800ms 1 normal forwards;
}