#section-basic-info,
#section-basic-info li {
  opacity: 0;
}
@keyframes basic-info {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes basic-info {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes basic-info {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes basic-info {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.section-basic-info {
  animation: basic-info 1s ease 300ms 1 normal running forwards;
  -moz-animation: basic-info 1s ease 300ms 1 normal running forwards;
  -webkit-animation: basic-info 1s ease 300ms 1 normal running forwards;
  -o-animation: basic-info 1s ease 300ms 1 normal running forwards;
}


@keyframes basic-info-img {
  0% {margin-right: 10em;}
  100% {margin-right: 0;}
}
@-moz-keyframes basic-info-img {
  0% {margin-right: 10em;}
  100% {margin-right: 0;}
}
@-webkit-keyframes basic-info-img {
  0% {margin-right: 10em;}
  100% {margin-right: 0;}
}
@-o-keyframes basic-info-img {
  0% {margin-right: 10em;}
  100% {margin-right: 0;}
}
.section-basic-info img {
  animation: basic-info-img 1s ease 300ms 1 normal running forwards;
  -moz-animation: basic-info-img 1s ease 300ms 1 normal running forwards;
  -webkit-animation: basic-info-img 1s ease 300ms 1 normal running forwards;
  -o-animation: basic-info-img 1s ease 300ms 1 normal running forwards;
}

@keyframes basic-info-li {
  0% {margin-left: 3em;opacity: 0}
  100% {margin-left: 0;opacity: 100}
}
@-moz-keyframes basic-info-li {
  0% {margin-left: 3em;opacity: 0}
  100% {margin-left: 0;opacity: 100}
}
@-webkit-keyframes basic-info-li {
  0% {margin-left: 3em;opacity: 0}
  100% {margin-left: 0;opacity: 100}
}
@-o-keyframes basic-info-li {
  0% {margin-left: 3em;opacity: 0}
  100% {margin-left: 0;opacity: 100}
}

.section-basic-info ul li.a {
  animation: basic-info-li 1s ease 300ms 1 normal running forwards;
  -moz-animation: basic-info-li 1s ease 300ms 1 normal running forwards;
  -webkit-animation: basic-info-li 1s ease 300ms 1 normal running forwards;
  -o-animation: basic-info-li 1s ease 300ms 1 normal running forwards;
}

.section-basic-info ul li.b {
  animation: basic-info-li 1s ease 500ms 1 normal running forwards;
  -moz-animation: basic-info-li 1s ease 500ms 1 normal running forwards;
  -webkit-animation: basic-info-li 1s ease 500ms 1 normal running forwards;
  -o-animation: basic-info-li 1s ease 500ms 1 normal running forwards;
}

.section-basic-info ul li.c {
  animation: basic-info-li 1s ease 700ms 1 normal running forwards;
  -moz-animation: basic-info-li 1s ease 700ms 1 normal running forwards;
  -webkit-animation: basic-info-li 1s ease 700ms 1 normal running forwards;
  -o-animation: basic-info-li 1s ease 700ms 1 normal running forwards;
}

.section-basic-info ul li.d {
  animation: basic-info-li 1s ease 900ms 1 normal running forwards;
  -moz-animation: basic-info-li 1s ease 900ms 1 normal running forwards;
  -webkit-animation: basic-info-li 1s ease 900ms 1 normal running forwards;
  -o-animation: basic-info-li 1s ease 900ms 1 normal running forwards;
}

.section-basic-info ul li.e {
  animation: basic-info-li 1s ease 1100ms 1 normal running forwards;
  -moz-animation: basic-info-li 1s ease 1100ms 1 normal running forwards;
  -webkit-animation: basic-info-li 1s ease 1100ms 1 normal running forwards;
  -o-animation: basic-info-li 1s ease 1100ms 1 normal running forwards;
}

.section-basic-info ul li.f {
  animation: basic-info-li 1s ease 1300ms 1 normal running forwards;
  -moz-animation: basic-info-li 1s ease 1300ms 1 normal running forwards;
  -webkit-animation: basic-info-li 1s ease 1300ms 1 normal running forwards;
  -o-animation: basic-info-li 1s ease 1300ms 1 normal running forwards;
}

/*=============== section-brief-intro =================*/
#section-brief-intro ul {
  opacity: 0;  
}

@keyframes brief-intro-ul {
  0% {top: 0;opacity: 0}
  100% {top: -3em;opacity: 100}
}
@-moz-keyframes brief-intro-ul {
  0% {top: 0;opacity: 0}
  100% {top: -3em;opacity: 100}
}
@-webkit-keyframes brief-intro-ul {
  0% {top: 0;opacity: 0}
  100% {top: -3em;opacity: 100}
}
@-o-keyframes brief-intro-ul {
  0% {top: 0;opacity: 0}
  100% {top: -3em;opacity: 100}
}

.section-brief-intro ul {
  animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -moz-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -webkit-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
  -o-animation: brief-intro-ul 1s ease 300ms 1 normal running forwards;
}